.site_main_cours_page{
   
    .lirePlusCours {
        //width: 92%;

        &:hover {
            scale: 1;
        }
    } 

    .transparence {
        opacity: 0%;
    }

    .widthCoursOuvert {
        animation: animCoursOuvert 3s forwards;
        transition-timing-function: cubic-bezier(.78,0,.25,1.48);
    }

    .animCarrouselCours {
        animation-name: animCarrouselCours();
    }
}

h1{
    margin: 0 15px;
}

button{
    transition: 0.15s;

    &:hover:enabled{
        background-color: $color__actif;
        cursor: pointer;
        scale: 1.1;
        transition-timing-function: cubic-bezier(.78,0,.25,1.48);
    }
}

.cours{

    p{
        button{
            transition: 0.3s;
        

        &:hover{
            background-color: $color__text-main;
            color: $color__actif;
            scale: 1;
            }
        }
    }
    &:hover {
        transition: 0.3s;
        scale: 1.05;
        transition-timing-function: cubic-bezier(.78,0,.25,1.48);
    }
}

@media only screen and (min-width: 600px){

    .cours[data-order="1"]{
        position: relative;
        order: -1;
        top: 0;
        left: 0;
    }
    .cours[data-order="2"]{
        position: relative;
        top: 0;
        right: 0;
    }
    .cours[data-order="3"]{
        position: relative;
        bottom: 0;
        left: 0;
    }
    .cours[data-order="4"]{
        position: relative;
        bottom: 0;
        left: 0;
    }
    
}
@keyframes animCarrouselCours {
    from {
        scale: 1;
    }

    to {
        scale: 1;
    }
}
@media only screen and (min-width: 600px){

@keyframes animCoursOuvert {
    from {

    }
    15% {
        opacity: 0;
        visibility: hidden;
        width: 93%;
    }
    30% {

    }
    45% {

    }
    75% {

    }
    100% {
        opacity: 100%;
        visibility: visible;
        order: 0;
        width: 93%;
        order: -1;
        }
        
}
}
