/* ---------------- BACKGROUND */
$color__background-header : #19191948;
$color__background-body : #191919;
$color__background-footer : rgb(0, 0, 0);
$color__background-nav : #19191948;

/* ---------------- LIENS */
$color__link : #ABABAB;
$color__link-hover : white;
$color__link-visited : #ABABAB;
$color__link-on : white;

/*----------------- TYPO */
$color__actif : rgb(72, 72, 241);
$color__text-main : white;
$color__actif__nav : white;