/* ---------------- BACKGROUND */
$color__background-header : ;
$color__background-body : ;
$color__background-footer : ;
$color__background-nav : ;

/* ---------------- LIENS */
$color__link : ;
$color__link-hover : ;
$color__link-visited : ;
