/* ---------------- BACKGROUND */
$color__background-header : rgb(193, 193, 193);
$color__background-body : rgb(160, 160, 160);
$color__background-footer : rgb(98, 98, 98);
$color__background-nav : rgb(154, 154, 154);

/* ---------------- LIENS */
$color__link : rgb(178, 219, 238);
$color__link-hover : rgb(186, 175, 255);
$color__link-visited : rgb(3, 102, 188);
