/* ---------------- Taille H */
$size_h1: 2em;
$size_h2: 1.5em;
$size_h3: 1.17em;
$size_h4: 1em;
$size_h5: 0.83em;
$size_h6: 0.75em;
/* ---------------- Taille P*/
$size_p: 1em;


$font__main: "Sans seriff";