.site_main_cours_page{
    h3{
        color: $color__actif;
        margin: 80px 0 0 0;
    }
   
}

.left-right{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    h1{
        margin: 0 15px;
    }
    button{
        text-align: center;
        font-weight: normal;
        background-color: #383838;
        color: $color__background-body;
        width: 30px;
        height: 30px;
        border: none;
        border-radius: 100%;
        
        &:disabled{
            cursor: default;
            color: $color__background-body;
            opacity: 0.4;
        }

        &:hover:enabled{
            background-color: rgb(144, 144, 144);
            cursor: pointer;
        }
        /*&:active{

        }*/
    }
}

.session{
    display: none;
    flex-direction: column;
    justify-content: center;
}

.cours{
    background-color: rgb(48,48,48);
    margin: 20px;
    border-radius: 0% 13px 13px 13px;
    display: flex;
    flex-direction: row;
    width: 92%;
    justify-content: center;

    h1{
        font-size: 20px;
    }
    p{
        font-size: 10px;
    }
}

/**************/
@media only screen and (min-width: 600px) and (max-width: 820px){
    .session{
        flex-direction: row;
        flex-wrap: wrap;
        
    }
    .cours{
        width: 43%;
    }
    
}

@media only screen and (min-width: 820px){
    .session{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .cours{
        width: 45%;
    } 

  
}
