.site_footer{
    background-color: $color__background-footer;
    width: 100%;
    color: $color__text-main;
    z-index: 0;

    &_info{
        display: flex;
        flex-direction: column;
        padding: 20px;
    }


    .footer_section{
        h5{
            margin: 5px 0;
            padding: 0;
        }
        h4{
            margin: 20px 0 20px 0;
            padding: 0;
            
        }
        
        .media_social_liste{
            display: flex;
            flex-direction: row;

            .wp-social-link{
                background-color: rgb(28, 28, 28);
                color: white;
            }
        }
    }
}
@media only screen and (min-width: 720px) {
    .site_footer{
        padding: 50px;

        &_info{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        }
    }
}
