.site_main_front_page{
    background-color: $color__background-body;
    color: white;
    font-family: 'Futura';
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site_main_front_page h1{
    margin: 0;
}
