.site_header{
    background-color: $color__background-header;
    display: flex;
    justify-content: center;
    width: 100%;
}

.site_header_title{
    background-color: $color__background-header;
    width: 100%;
}

.site_header h1{
    margin: 0px;
    text-align: center;
}

.site_header nav ul {
    display: flex;
    flex-direction: row;
}

