.site_header{
    background-color: $color__background-header_mobile;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 1;
}

.site_header_title{
    background-color: $color__background-header_mobile;
    width: 100%;

    img {
        width: 94px;
        height: 40px;
    }
}

.site_header h1{
    margin: 0px;
    text-align: center;
}

.site_header nav ul {
    display: flex;
    flex-direction: row;
}

@media only screen and (min-width: 720px) {
    .site_header{
        background-color: $color__background-header;
        &_title{
            background-color: $color__background-header;
        }
    }
}