#menu-navpages{
    padding: 0;
    margin: 0;
}

#menu-navpages ul{
    height: 100%;
}
#menu-navpages li {
    list-style: none;
    height: 100%;
    a{
        text-decoration: none;
    }
}

.Titre{
    font-size: 40px;
}
