.site_main_prof_page {
    display: flex;
    z-index: 0;

    .bottom_curve {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        z-index: -1;
    }
    
    .bottom_curve svg {
        position: relative;
        display: block;
        width: calc(180% + 1.3px);
        height: 182px;
    }
    .top_curve {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        z-index: -1;
    }
    
    .top_curve svg {
        position: relative;
        display: block;
        width: calc(180% + 1.3px);
        height: 182px;
    }
    
    .elmsProf {
        display:flex;
        flex-flow: column nowrap;
    }

    h3 {
        color: $color__actif;
        margin: 50px 0 5px 0;
        letter-spacing: 12px;
        font-size: 1.5rem;
    }

    #right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #listeProfs {
        display: flex;
        flex-direction: row;
        position: relative;
        transition: all 0.5s;
    }

    .imgProf {
        display: flex;
        position:relative;
    }

    .titreProf {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

  

    .contenuProf {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        background-color: rgb(107, 107, 107);

        img {
            width: 100vw;
        }
    }

    .enseignants {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }
    
    .left-right {
        order: 2;
    }
}

@media only screen and (min-width: 600px) {
    
    .site_main_prof_page {
        flex-direction: row;
        justify-content: start;
        width: 100%;

        .left-right {
            order: 0;
            flex-direction: column;
            padding: 0 25px 0 43px;
            background-color: rgba(0, 0, 0, 0.5);
            margin: 0 40px 0 0;

            button:nth-of-type(1) {
                order: -2;
                transform: rotateZ(90deg);
            }

            button:nth-of-type(2) {
                transform: rotateZ(90deg);
                order: 2;
            }
            
            img {
                width: 10vw;
            }
        }

        .contenuProf {
            width: auto;
            height: 90%;
            
            img {

                position: relative;
                // width: auto; 
            }
        }
    }
    
    #right {
        width: 90vw;

        #listeProfs {
            width: 100%;
        }
    }

    #bodyProf {
        display: flex;
        flex-direction: row;
    }

    #imgProf {
        display: flex;
        flex-direction: column;
        background-color: rgba(101, 101, 101, 0.66);
        height: 100vh;
    }

    .enseignants {
        margin: 20px;
        border-radius: 0% 13px 13px 13px;
        display: flex;
        flex-direction: column;
        width: 92%;
        justify-content: center;

        .titreProf {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .contenuProf {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            background-color: rgb(107, 107, 107);
            border-radius: 0% 13px 13px 13px;
            width: 100%;
    
            img {
                position: relative;
                left:0;
                height:auto;
                width: 40%;
                border-radius: 0% 13px 13px 13px;
                margin: 10px;
                align-self: flex-start;
            }
        }

        .enseignants ­> p {
            display: flex;
            flex-flow: column nowrap;
        }
    }
    
}

