.site_main_proj_page{
    h3{
        color: $color__actif;
        margin: 50px 0 5px 0;
        letter-spacing: 12px;
        font-size: 1.5rem;
    }

    .elmsProjet {
        display:flex;
        flex-flow: column nowrap;
    }
    .bottom_curve {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        z-index: -1;
    }
    
    .bottom_curve svg {
        position: relative;
        display: block;
        width: calc(180% + 1.3px);
        height: 182px;
    }
    .top_curve {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        z-index: -1;
    }
    
    .top_curve svg {
        position: relative;
        display: block;
        width: calc(180% + 1.3px);
        height: 182px;
    }
}
