body {
	height: 100vh;
	background-color: $color__background-body;
    color: white;
    font-family: 'Futura';
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    
    main{
        background-color: $color__background-body;
        color: white;
        font-family: 'Futura';
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
